.searchResults {
    margin-block: 3rem;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.showResults {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

@media screen and (max-width: 1024px) {
    .showResults {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 821px) {
    .showResults {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .showResults {
        grid-template-columns: repeat(1, 1fr);
    }
}